@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-image: url('./spaceman-wallpaper.jpeg');
  background-repeat: repeat;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding: 1.5rem;
}

.meteorites {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.meteorite-card {
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  width: 80vw
}

@media only screen and (min-width: 768px) {
  .meteorite-card {
    width: 40vw;
  }
  h1 {
    font-size: 4rem;
  }
}

button {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px
}

.pagination-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
}

.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}